.wide{
    width: 100%;
    align-items: center;
}
table{
    width: 100%;
    text-align: center !important;
    background-color: #FFFFFF;
    border: 0.3px solid currentColor;
    overflow: scroll;
}
.small-table{
    width: 50%;
    justify-content: center;
    text-align: center !important;
    overflow: scroll;
}
mat-header-cell, mat-cell, mat-header-row{
    justify-content: center;
    text-align: center;
}
.mat-column-TeamID{
    background-color: #4D6D9A;
    border: 1px solid #2C3531;
    color: #f8f8ff;
}
.mat-column-Total{
    border-left: 0.1px dashed currentColor;
}
mat-label{
   visibility:visible;
   overflow: hidden;
}
::ng-deep th.mat-header-cell{
    width: 100px; 
    background-color: #86B3D1;
    border: 1px solid #2C3531;
    font-size:  15px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}
::ng-deep td.mat-cell{
    font-size: 12px;
    border: 1px solid #2C3531;
    color: rgb(61, 61, 61);
}
@media screen and (min-width: 350px){
    ::ng-deep th.mat-header-cell{
        font-size: 10px;
    }
    ::ng-deep td.mat-cell{
        font-size: 8px;
    }
}

@media screen and (min-width: 600px){
    ::ng-deep th.mat-header-cell{
        font-size: 12px;
    }
    ::ng-deep td.mat-cell{
        font-size: 10px;
    }
}
@media screen and (min-width: 1200px){
    ::ng-deep th.mat-header-cell{
        font-size: 17px;
    }
    ::ng-deep td.mat-cell{
        font-size: 14px;
    }
}
.large-row{
    height: 440px;
}
.submit{
    background-color: #2C3531;
    color: #f8f8ff;
    border-color: #2C3531;
}
.pi-chart{
    height: 400px;
}
a{
    display: inline;
}
.sample{
    width: 60%;
}