.head{
    background-color: #4D6D9A;
    padding: 3vmin 0 3vmin 0;
    width: 100%;
    color: #F8F8FF;
    font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}
.button{
    font-size: 3vmin;
    padding: 0 0 0 4vmin;
    display: inline-block;
}
.button-small{
    width: 16vmin;
    font-size: 2.3vmin;
    display: inline-block;
}
.link{
    color: #cecece;
    text-decoration: dotted underline;
}
.main{
    font-family: "Catamaran", Roboto, "Helvetica Neue", sans-serif;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #2C3531;
}
.navbar > a:hover, .navbar > a:focus {
    color: #2C3531;
}
.head a{
    color: #F8F8FF;
}
nav ul {
    margin : 0;
    padding : 0;
    list-style: none;
}
  
nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 0px;
    position: relative;
}
nav a{
    padding-left: 20px;
}
.navbar-nav .current, .navbar .current{
    color: #F8F8FF;
}