<header>
    <nav class="head navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" routerLinkActive="current" href="#" [routerLink]="''" [routerLinkActiveOptions]="{exact: true}">Fantasy Fix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="current" href="" [routerLink]="''">P1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="current" href="" [routerLink]="''">P2</a>
            </li>
            <li class="nav-item" style="margin-right: 20px;">
              <a class="nav-link" routerLinkActive="current" href="" [routerLink]="''">P3</a>
            </li>
          </ul>
        </div>
      </nav>
</header>

<router-outlet>
    
</router-outlet>
