
table{
    width: 100%;
    text-align: center !important;
    background-color: #FFFFFF;
    border: 0.3px solid currentColor;
    overflow: scroll;
}
.small-table{
    width: 50%;
    justify-content: center;
    text-align: center !important;
    overflow: scroll;
}
mat-header-cell, mat-cell, mat-header-row{
    justify-content: center;
    text-align: center;
}
mat-cell{
    font-size: 200px;
}
mat-label{
   visibility: visible;
}
.mat-row .mat-cell {
    border: 1px solid #2C3531;
}
::ng-deep th.mat-header-cell{
    width: 100px; 
    background-color: #86B3D1;
    border: 1px solid #2C3531;
    font-size:  15px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}
::ng-deep td.mat-cell{
    font-size: 12px;
    color: rgb(61, 61, 61);
}
@media screen and (min-width: 350px){
    ::ng-deep th.mat-header-cell{
        font-size: 10px;
    }
    ::ng-deep td.mat-cell{
        font-size: 8px;
    }
}

@media screen and (min-width: 600px){
    ::ng-deep th.mat-header-cell{
        font-size: 12px;
    }
    ::ng-deep td.mat-cell{
        font-size: 10px;
    }
}
@media screen and (min-width: 1200px){
    ::ng-deep th.mat-header-cell{
        font-size: 17px;
    }
    ::ng-deep td.mat-cell{
        font-size: 14px;
    }
}
.large-row{
    height: 440px;
}
.submit{
    background-color: #2C3531;
    color: #F8F8FF;
    border-color: #2C3531;
}
.mat-row:hover .mat-cell{
    background-color: #86B3D1;
    color: rgb(0, 0, 0);
}
.mat-table-sticky{
    background-color: #4D6D9A;
    color: #F8F8FF;
    border-left: 1px solid #2C3531;
}
.mat-paginator{
    background-color: #4D6D9A;
    color: black
}
mat-button-toggle{
    display: inline;
}
.select{
    background-color: #F8F8FF;
}