<html>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-9 col-sm-11 text-center">
                <h1>
                    Fantasy Fix
                </h1>
                <p>Rank your fantasy baseball league's team's every week with Fantasy Fix (currently only supports head-to-head category ESPN leagues).
                    Input your public league's ID and the year you want to view below to get the results. Can't find your league's ID? Click <a [routerLink]="'/info'">here</a> to see where
                    you can find it.
                    <br>
                    <br>
                    Our league ID: 250918111
                </p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-9 text-center">
                <h2>
                    <br>
                    League Information
                </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-10 text-center">
                <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10 col-sm-12">
                            <mat-form-field style="width: 100%;" class='con'>
                                <mat-label>League ID</mat-label>
                                 <input matInput [formControl]="id" required>
                                <mat-error *ngIf="id.invalid" style="font-family: 'Open Sans';">Please enter a valid ID</mat-error>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;" class='con'>
                                <mat-label>Year</mat-label>
                                <input matInput [formControl]="year" required>
                                <mat-error *ngIf="year.invalid" style="font-family: 'Open Sans';">Please enter a year between 2017 and 2021</mat-error>
                            </mat-form-field>
                            <!--
                            <mat-form-field>
                                <mat-label>swid (if private)</mat-label>
                                <input matInput [formControl]='swid'>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>espn_s2 (if private)</mat-label>
                                <input matInput [formControl]='espn_s2'>
                            </mat-form-field>
                            -->
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-4 col-sm-6 align-self-center">
                            <button class="submit text-center" type="submit" >Submit</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>

        <div class="row justify-content-center" *ngIf='filled'>
            <div class="col-md-2 col-sm-10 text-center">
                <mat-form-field appearance='fill'>
                    <mat-label>Week</mat-label>
                    <mat-select [formControl]='allWeeks' (selectionChange)='onSelectClick($event)' [(value)]='currentWeek'>
                        <mat-option *ngFor='let week of allWeeks' [value]='week'>{{week}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>


    <!-- DOESN'T WORK ACCURATELY - WON'T INCLUDE
    <div class="container-fluid darken" *ngIf='weekPlayed'>
        <div class="row justify-content-center">
            <div class="col text-center align-self-center">
                <table mat-table [dataSource]="dataSource" class='small-table'>
                    <ng-container matColumnDef='team'>
                        <th mat-header-cell *matHeaderCellDef>Team</th>
                        <td mat-cell *matCellDef="let t"> {{t.team}} </td>
                    </ng-container>
                    <ng-container matColumnDef='wins'>
                        <th mat-header-cell *matHeaderCellDef>Wins</th>
                        <td mat-cell *matCellDef="let t"> {{t.wins}} </td>
                    </ng-container>
                    <ng-container matColumnDef='losses'>
                        <th mat-header-cell *matHeaderCellDef>Losses</th>
                        <td mat-cell *matCellDef="let t"> {{t.losses}} </td>
                    </ng-container>
                    <ng-container matColumnDef='ties'>
                        <th mat-header-cell *matHeaderCellDef>Ties</th>
                        <td mat-cell *matCellDef="let t"> {{t.ties}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    -->

    <!-- BULK STATS: DO NOT DISPLAY 
    <div class="container-fluid darken" *ngIf='weekPlayed'>
        <div class="row justify-content-center">
            <div class="col text-center align-self-center">
                <table mat-table [dataSource]="accumulatedWeekScores">
                    <ng-container matColumnDef='TeamID'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ID</th>
                        <td mat-cell *matCellDef="let t"> {{t.TeamID}} </td>
                    </ng-container>
                    <ng-container matColumnDef='R'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Runs</th>
                        <td mat-cell *matCellDef="let t"> {{t.R}} </td>
                    </ng-container>
                    <ng-container matColumnDef='RBI'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>RBIs</th>
                        <td mat-cell *matCellDef="let t"> {{t.RBI}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HR'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HRs</th>
                        <td mat-cell *matCellDef="let t"> {{t.HR}} </td>
                    </ng-container>
                    <ng-container matColumnDef='H'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Hits</th>
                        <td mat-cell *matCellDef="let t"> {{t.H}} </td>
                    </ng-container>
                    <ng-container matColumnDef='AB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ABs</th>
                        <td mat-cell *matCellDef="let t"> {{t.AB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SBs</th>
                        <td mat-cell *matCellDef="let t"> {{t.SB}} </td>
                    </ng-container>

                    <ng-container matColumnDef='O'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>IP</th>
                        <td mat-cell *matCellDef="let t"> {{t.O}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BBA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BBs</th>
                        <td mat-cell *matCellDef="let t"> {{t.BBA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HA</th>
                        <td mat-cell *matCellDef="let t"> {{t.HA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='ER'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ERs</th>
                        <td mat-cell *matCellDef="let t"> {{t.ER}} </td>
                    </ng-container>
                    <ng-container matColumnDef='K'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Ks</th>
                        <td mat-cell *matCellDef="let t"> {{t.K}} </td>
                    </ng-container>
                    <ng-container matColumnDef='W'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Ws</th>
                        <td mat-cell *matCellDef="let t"> {{t.W}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SV'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SVs</th>
                        <td mat-cell *matCellDef="let t"> {{t.SV}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='displayedToday'></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedToday;"></tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    -->

    <br><hr><br>
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col text-center align-self-center" [hidden]='!weekPlayed'>
                <p style='display: inline;'>Sticky headers: </p>
                <mat-button-toggle-group multiple [value]="['header']" #stickyHeaders = 'matButtonToggleGroup' class='sticky-toggle'>
                    <mat-button-toggle value="header">
                        Toggle
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>

    <div class="container-fluid" *ngIf='weekPlayed && !overflow'>
        <br>
        <div class="row justify-content-center">
            <div class="col text-center align-self-center">
                <h3>Scoreboard</h3>

                <!--Option: split into multiple tables, each with 10 categories-->
                <!--Option: have teams along the x axis, categories along the y axis, use pagination-->

                <table mat-table [dataSource]="displayWeekScores">
                    <ng-container matColumnDef='TeamID' sticky>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ID</th>
                        <td mat-cell *matCellDef="let t"> {{t.TeamID}} </td>
                    </ng-container>
                    <ng-container matColumnDef='R'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>R</th>
                        <td mat-cell *matCellDef="let t"> {{t.R}} </td>
                    </ng-container>
                    <ng-container matColumnDef='RBI'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>RBI</th>
                        <td mat-cell *matCellDef="let t"> {{t.RBI}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HR'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HR</th>
                        <td mat-cell *matCellDef="let t"> {{t.HR}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BA</th>
                        <td mat-cell *matCellDef="let t"> {{t.BA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SB</th>
                        <td mat-cell *matCellDef="let t"> {{t.SB}} </td>
                    </ng-container>

                    <ng-container matColumnDef='WHIP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>WHIP</th>
                        <td mat-cell *matCellDef="let t"> {{t.WHIP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='ERA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ERA</th>
                        <td mat-cell *matCellDef="let t"> {{t.ERA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='K'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>K</th>
                        <td mat-cell *matCellDef="let t"> {{t.K}} </td>
                    </ng-container>
                    <ng-container matColumnDef='W'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>W</th>
                        <td mat-cell *matCellDef="let t"> {{t.W}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SV'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SV</th>
                        <td mat-cell *matCellDef="let t"> {{t.SV}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Total'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Total</th>
                        <td mat-cell *matCellDef="let t"> {{t.Total}} </td>
                    </ng-container>
                    <!--This will allow me to hardcode every possible category, even if it is not to be displayed! yay!-->
                    <ng-container matColumnDef='AB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>AB</th>
                        <td mat-cell *matCellDef="let t"> {{t.AB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='H'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>H</th>
                        <td mat-cell *matCellDef="let t"> {{t.H}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Single'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Single</th>
                        <td mat-cell *matCellDef="let t"> {{t.Single}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Double'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Double</th>
                        <td mat-cell *matCellDef="let t"> {{t.Double}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Triple'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Triple</th>
                        <td mat-cell *matCellDef="let t"> {{t.Triple}} </td>
                    </ng-container>
                    <ng-container matColumnDef='TB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>TB</th>
                        <td mat-cell *matCellDef="let t"> {{t.TB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='XBH'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>XBH</th>
                        <td mat-cell *matCellDef="let t"> {{t.XBH}} </td>
                    </ng-container>
                    <ng-container matColumnDef='GWRBI'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Game Winning RBI</th>
                        <td mat-cell *matCellDef="let t"> {{t.GWRBI}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BB</th>
                        <td mat-cell *matCellDef="let t"> {{t.BB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='IBB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Intentional BB</th>
                        <td mat-cell *matCellDef="let t"> {{t.IBB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SO'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SO (Batter)</th>
                        <td mat-cell *matCellDef="let t"> {{t.SO}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HBP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HBP (Batter)</th>
                        <td mat-cell *matCellDef="let t"> {{t.HBP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Sac'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Sacrifice</th>
                        <td mat-cell *matCellDef="let t"> {{t.Sac}} </td>
                    </ng-container>
                    <ng-container matColumnDef='RC'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Runs Created</th>
                        <td mat-cell *matCellDef="let t"> {{t.RC}} </td>
                    </ng-container>
                    <ng-container matColumnDef='CS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>CS</th>
                        <td mat-cell *matCellDef="let t"> {{t.CS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SBN'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SNB??</th>
                        <td mat-cell *matCellDef="let t"> {{t.SBN}} </td>
                    </ng-container>
                    <ng-container matColumnDef='GDP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>GDP</th>
                        <td mat-cell *matCellDef="let t"> {{t.GDP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='PPA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Pitches per PA</th>
                        <td mat-cell *matCellDef="let t"> {{t.PPA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='OBP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>OBP</th>
                        <td mat-cell *matCellDef="let t"> {{t.OBP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SLG'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SLG</th>
                        <td mat-cell *matCellDef="let t"> {{t.SLG}} </td>
                    </ng-container>
                    <ng-container matColumnDef='OPS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>OPS</th>
                        <td mat-cell *matCellDef="let t"> {{t.OPS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='FC'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>FC</th>
                        <td mat-cell *matCellDef="let t"> {{t.FC}} </td>
                    </ng-container>
                    <ng-container matColumnDef='PO'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Put Outs</th>
                        <td mat-cell *matCellDef="let t"> {{t.PO}} </td>
                    </ng-container>
                    <ng-container matColumnDef='A'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Assists</th>
                        <td mat-cell *matCellDef="let t"> {{t.A}} </td>
                    </ng-container>
                    <ng-container matColumnDef='OAST'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Outfield Assists</th>
                        <td mat-cell *matCellDef="let t"> {{t.OAST}} </td>
                    </ng-container>
                    <ng-container matColumnDef='E'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Errors</th>
                        <td mat-cell *matCellDef="let t"> {{t.E}} </td>
                    </ng-container>
                    <ng-container matColumnDef='DPT'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Double Plays Turned</th>
                        <td mat-cell *matCellDef="let t"> {{t.DPT}} </td>
                    </ng-container>
                    <ng-container matColumnDef='FPCT'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Fielding %</th>
                        <td mat-cell *matCellDef="let t"> {{t.FPCT}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BTW'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BTW??</th>
                        <td mat-cell *matCellDef="let t"> {{t.BTW}} </td>
                    </ng-container>
                    <ng-container matColumnDef='G'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Games (Pitching)</th>
                        <td mat-cell *matCellDef="let t"> {{t.G}} </td>
                    </ng-container>
                    <ng-container matColumnDef='GS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>GS (Pitching)</th>
                        <td mat-cell *matCellDef="let t"> {{t.GS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='O'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Outs Made</th>
                        <td mat-cell *matCellDef="let t"> {{t.IP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Hits Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.HA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='RA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Runs Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.RA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='ER'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ER Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.ER}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HRA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HR Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.HRA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BBA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BB Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.BBA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HBPP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HBP (Pitcher)</th>
                        <td mat-cell *matCellDef="let t"> {{t.HBPP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='QS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>QS</th>
                        <td mat-cell *matCellDef="let t"> {{t.QS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='CG'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>CG</th>
                        <td mat-cell *matCellDef="let t"> {{t.CG}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SHU'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Shutouts</th>
                        <td mat-cell *matCellDef="let t"> {{t.SHU}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BF'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Batters Faced</th>
                        <td mat-cell *matCellDef="let t"> {{t.BF}} </td>
                    </ng-container>
                    <ng-container matColumnDef='PC'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Pitch Count (?)</th>
                        <td mat-cell *matCellDef="let t"> {{t.PC}} </td>
                    </ng-container>
                    <ng-container matColumnDef='L'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>L</th>
                        <td mat-cell *matCellDef="let t"> {{t.L}} </td>
                    </ng-container>
                    <ng-container matColumnDef='WPCT'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Win %</th>
                        <td mat-cell *matCellDef="let t"> {{t.WPCT}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SOP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SOP??</th>
                        <td mat-cell *matCellDef="let t"> {{t.SOP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BS</th>
                        <td mat-cell *matCellDef="let t"> {{t.BS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SVPCT'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Save %</th>
                        <td mat-cell *matCellDef="let t"> {{t.SVPCT}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HD'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HD</th>
                        <td mat-cell *matCellDef="let t"> {{t.HD}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BAA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BA Against</th>
                        <td mat-cell *matCellDef="let t"> {{t.BAA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='OBPA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>OBP Against</th>
                        <td mat-cell *matCellDef="let t"> {{t.OBPA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='KN'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>K/9</th>
                        <td mat-cell *matCellDef="let t"> {{t.KN}} </td>
                    </ng-container>
                    <ng-container matColumnDef='PTW'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>PTW??</th>
                        <td mat-cell *matCellDef="let t"> {{t.PTW}} </td>
                    </ng-container>
                    <ng-container matColumnDef='KW'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>K/W</th>
                        <td mat-cell *matCellDef="let t"> {{t.KW}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SVHD'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SV + HD</th>
                        <td mat-cell *matCellDef="let t"> {{t.SVHD}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="condensed; sticky: isSticky(stickyHeaders, 'header')"></tr>
                    <tr mat-row *matRowDef="let row; columns: condensed;"></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid" *ngIf='weekPlayed && overflow'>
        <br><br>
        <div class="row justify-content-center">
            <div class="col text-center align-self-center">
                <table mat-table [dataSource]="displayOver" matSort>
                    <ng-container [matColumnDef]='team' *ngFor='let team of dwCntrl'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'> {{team}} </th>
                        <td mat-cell *matCellDef='let x' class='text-center'>{{x[team]}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="dwCntrl; sticky: isSticky(stickyHeaders, 'header')" class='text-center'></tr>
                    <tr mat-row *matRowDef="let row; columns: dwCntrl;" class='text-center'></tr>
                </table>

                <mat-paginator #paginator [length]="dwOverflow.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>


    <div class="container-fluid" *ngIf='weekPlayed && !overflow'>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col text-center align-self-center">
                <h3>Points</h3>
                <table mat-table [dataSource]="otherData">
                    <ng-container matColumnDef='TeamID' sticky>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ID</th>
                        <td mat-cell *matCellDef="let t"> {{t.TeamID}} </td>
                    </ng-container>
                    <ng-container matColumnDef='R'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>R</th>
                        <td mat-cell *matCellDef="let t"> {{t.R}} </td>
                    </ng-container>
                    <ng-container matColumnDef='RBI'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>RBI</th>
                        <td mat-cell *matCellDef="let t"> {{t.RBI}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HR'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HR</th>
                        <td mat-cell *matCellDef="let t"> {{t.HR}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BA</th>
                        <td mat-cell *matCellDef="let t"> {{t.BA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SB</th>
                        <td mat-cell *matCellDef="let t"> {{t.SB}} </td>
                    </ng-container>

                    <ng-container matColumnDef='WHIP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>WHIP</th>
                        <td mat-cell *matCellDef="let t"> {{t.WHIP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='ERA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ERA</th>
                        <td mat-cell *matCellDef="let t"> {{t.ERA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='K'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>K</th>
                        <td mat-cell *matCellDef="let t"> {{t.K}} </td>
                    </ng-container>
                    <ng-container matColumnDef='W'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>W</th>
                        <td mat-cell *matCellDef="let t"> {{t.W}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SV'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SV</th>
                        <td mat-cell *matCellDef="let t"> {{t.SV}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Total' sticky>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Total</th>
                        <td mat-cell *matCellDef="let t"> {{t.Total}} </td>
                    </ng-container>
                    <!--This will allow me to hardcode every possible category, even if it is not to be displayed! yay!-->
                    <ng-container matColumnDef='AB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>AB</th>
                        <td mat-cell *matCellDef="let t"> {{t.AB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='H'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>H</th>
                        <td mat-cell *matCellDef="let t"> {{t.H}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Single'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Single</th>
                        <td mat-cell *matCellDef="let t"> {{t.Single}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Double'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Double</th>
                        <td mat-cell *matCellDef="let t"> {{t.Double}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Triple'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Triple</th>
                        <td mat-cell *matCellDef="let t"> {{t.Triple}} </td>
                    </ng-container>
                    <ng-container matColumnDef='TB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>TB</th>
                        <td mat-cell *matCellDef="let t"> {{t.TB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='XBH'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>XBH</th>
                        <td mat-cell *matCellDef="let t"> {{t.XBH}} </td>
                    </ng-container>
                    <ng-container matColumnDef='GWRBI'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Game Winning RBI</th>
                        <td mat-cell *matCellDef="let t"> {{t.GWRBI}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BB</th>
                        <td mat-cell *matCellDef="let t"> {{t.BB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='IBB'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Intentional BB</th>
                        <td mat-cell *matCellDef="let t"> {{t.IBB}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SO'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SO (Batter)</th>
                        <td mat-cell *matCellDef="let t"> {{t.SO}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HBP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HBP (Batter)</th>
                        <td mat-cell *matCellDef="let t"> {{t.HBP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='Sac'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Sacrifice</th>
                        <td mat-cell *matCellDef="let t"> {{t.Sac}} </td>
                    </ng-container>
                    <ng-container matColumnDef='RC'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Runs Created</th>
                        <td mat-cell *matCellDef="let t"> {{t.RC}} </td>
                    </ng-container>
                    <ng-container matColumnDef='CS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>CS</th>
                        <td mat-cell *matCellDef="let t"> {{t.CS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SBN'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SNB??</th>
                        <td mat-cell *matCellDef="let t"> {{t.SBN}} </td>
                    </ng-container>
                    <ng-container matColumnDef='GDP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>GDP</th>
                        <td mat-cell *matCellDef="let t"> {{t.GDP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='PPA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Pitches per PA</th>
                        <td mat-cell *matCellDef="let t"> {{t.PPA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='OBP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>OBP</th>
                        <td mat-cell *matCellDef="let t"> {{t.OBP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SLG'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SLG</th>
                        <td mat-cell *matCellDef="let t"> {{t.SLG}} </td>
                    </ng-container>
                    <ng-container matColumnDef='OPS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>OPS</th>
                        <td mat-cell *matCellDef="let t"> {{t.OPS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='FC'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>FC</th>
                        <td mat-cell *matCellDef="let t"> {{t.FC}} </td>
                    </ng-container>
                    <ng-container matColumnDef='PO'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Put Outs</th>
                        <td mat-cell *matCellDef="let t"> {{t.PO}} </td>
                    </ng-container>
                    <ng-container matColumnDef='A'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Assists</th>
                        <td mat-cell *matCellDef="let t"> {{t.A}} </td>
                    </ng-container>
                    <ng-container matColumnDef='OAST'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Outfield Assists</th>
                        <td mat-cell *matCellDef="let t"> {{t.OAST}} </td>
                    </ng-container>
                    <ng-container matColumnDef='E'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Errors</th>
                        <td mat-cell *matCellDef="let t"> {{t.E}} </td>
                    </ng-container>
                    <ng-container matColumnDef='DPT'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Double Plays Turned</th>
                        <td mat-cell *matCellDef="let t"> {{t.DPT}} </td>
                    </ng-container>
                    <ng-container matColumnDef='FPCT'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Fielding %</th>
                        <td mat-cell *matCellDef="let t"> {{t.FPCT}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BTW'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BTW??</th>
                        <td mat-cell *matCellDef="let t"> {{t.BTW}} </td>
                    </ng-container>
                    <ng-container matColumnDef='G'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Games (Pitching)</th>
                        <td mat-cell *matCellDef="let t"> {{t.G}} </td>
                    </ng-container>
                    <ng-container matColumnDef='GS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>GS (Pitching)</th>
                        <td mat-cell *matCellDef="let t"> {{t.GS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='O'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Outs Made</th>
                        <td mat-cell *matCellDef="let t"> {{t.IP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Hits Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.HA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='RA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Runs Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.RA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='ER'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>ER Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.ER}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HRA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HR Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.HRA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BBA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BB Allowed</th>
                        <td mat-cell *matCellDef="let t"> {{t.BBA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HBPP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HBP (Pitcher)</th>
                        <td mat-cell *matCellDef="let t"> {{t.HBPP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='QS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>QS</th>
                        <td mat-cell *matCellDef="let t"> {{t.QS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='CG'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>CG</th>
                        <td mat-cell *matCellDef="let t"> {{t.CG}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SHU'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Shutouts</th>
                        <td mat-cell *matCellDef="let t"> {{t.SHU}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BF'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Batters Faced</th>
                        <td mat-cell *matCellDef="let t"> {{t.BF}} </td>
                    </ng-container>
                    <ng-container matColumnDef='PC'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Pitch Count (?)</th>
                        <td mat-cell *matCellDef="let t"> {{t.PC}} </td>
                    </ng-container>
                    <ng-container matColumnDef='L'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>L</th>
                        <td mat-cell *matCellDef="let t"> {{t.L}} </td>
                    </ng-container>
                    <ng-container matColumnDef='WPCT'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Win %</th>
                        <td mat-cell *matCellDef="let t"> {{t.WPCT}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SOP'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SOP??</th>
                        <td mat-cell *matCellDef="let t"> {{t.SOP}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BS'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BS</th>
                        <td mat-cell *matCellDef="let t"> {{t.BS}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SVPCT'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>Save %</th>
                        <td mat-cell *matCellDef="let t"> {{t.SVPCT}} </td>
                    </ng-container>
                    <ng-container matColumnDef='HD'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>HD</th>
                        <td mat-cell *matCellDef="let t"> {{t.HD}} </td>
                    </ng-container>
                    <ng-container matColumnDef='BAA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>BA Against</th>
                        <td mat-cell *matCellDef="let t"> {{t.BAA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='OBPA'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>OBP Against</th>
                        <td mat-cell *matCellDef="let t"> {{t.OBPA}} </td>
                    </ng-container>
                    <ng-container matColumnDef='KN'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>K/9</th>
                        <td mat-cell *matCellDef="let t"> {{t.KN}} </td>
                    </ng-container>
                    <ng-container matColumnDef='PTW'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>PTW??</th>
                        <td mat-cell *matCellDef="let t"> {{t.PTW}} </td>
                    </ng-container>
                    <ng-container matColumnDef='KW'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>K/W</th>
                        <td mat-cell *matCellDef="let t"> {{t.KW}} </td>
                    </ng-container>
                    <ng-container matColumnDef='SVHD'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'>SV + HD</th>
                        <td mat-cell *matCellDef="let t"> {{t.SVHD}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="pointsColumns; sticky: isSticky(stickyHeaders, 'header')"></tr>
                    <tr mat-row *matRowDef="let row; columns: pointsColumns;"></tr>
                </table>
            </div>
        </div>
        <br><br>
    </div>

    <div class="container-fluid" *ngIf='weekPlayed && overflow'>
        <br><br>
        <div class="row justify-content-center">
            <div class="col text-center align-self-center">
                <table mat-table [dataSource]="rankedDisplay">
                    <ng-container [matColumnDef]='team' *ngFor='let team of allTeams'>
                        <th mat-header-cell *matHeaderCellDef class='text-center'> {{team}} </th>
                        <td mat-cell *matCellDef='let x' class='text-center'>{{x[team]}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="allTeams; sticky: isSticky(stickyHeaders, 'header')" class='text-center'></tr>
                    <tr mat-row *matRowDef="let row; columns: allTeams;" class='text-center'></tr>
                </table>

                <mat-paginator #paginator1 [length]="rd.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        <br><br>
    </div>
    <div class="container-fluid" *ngIf='!weekPlayed && selected'>
        <div class="row large-row justify-content-center">
            <div class="col text-center">
                <p>This week has not been played yet!</p>
            </div>
        </div>
    </div>
</html>